body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0E0325;
  color: #E492F5;
  margin: 0;
  padding: 0;

  background-image: radial-gradient(circle at center, #574F67 0.5px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

main {
  position: relative;
  z-index: 10000;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh));
  background-image: radial-gradient(circle at center, #574F67 0.5px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
  filter: blur(10px);
  z-index: -1;
}


#logo-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  transition: color 0.3s;
}



#logo-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: #C267F0;
}


.index-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
	color: #E492F5;
	letter-spacing: -3px;
  font-weight: 300; /* Montserrat Light */
}

.videos-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
	color: #E492F5;
	letter-spacing: -3px;
  margin-left: 35px;
  font-weight: 300;
}



h2 {
  font-size: 24px;
  margin: 1rem 0;
}


h3 {
  font-size: 16px;
}


.home-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}


.searchBar.home-search-bar {
  height: 20px;
  font-size: 18px;
}


.home-page-title {
  margin-bottom: -40px;
}


.home-content h1 {
  font-size: 4rem;
  line-height: 0; 
}

.home-vfx-finder {
  display: inline;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -100px;
  color: #E492F5;
  position: relative;
  margin-bottom: -20px;
}


.vfx {
  font-weight: 700;
}


.home-vfx-finder:hover {
  text-shadow: 0 0 10px #E492F5;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}


.home-vfx-finder-wrapper {
  position: relative;
  top: 50%;
  text-align: center;
}


.home-vfx-finder:hover .vfx-finder-hover {
  opacity: 1;
  transform: translateY(0) rotateX(0deg);
}


.home-vfx-finder .vfx-finder-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 146, 245, 0.2);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transition: all 0.5s;
  pointer-events: none;
}


.home-vfx-finder-wrapper:hover .vfx-finder-hover {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}


.vfx-finder-hover {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translateY(100%) rotateX(90deg);
  transition: all 0.3s;
}


.home-vfx-finder .vfx {
  font-weight: 700;
}


.home-vfx-finder:not(.vfx) {
  font-weight: 300;
}


.home-vfx-finder.clicked {
  animation: bounce 1s ease;
}


.center-text {
  text-align: center;
}


.search-bar:focus {
  border-color: #C267F0;
  box-shadow: 0 0 8px rgba(194, 103, 240, 0.5);
}


a {
  color: #E492F5;
  text-decoration: none;
  padding: 2px 4px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 3px;
}


a:hover {
  color: #0E0325 !important;
}


a:visited {
  color: #E492F5;
}


header {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgb(14, 3, 37, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  height: 60px;
}



.home-search-bar {
  width: 300px;
  height: 30px;
  padding: 0.75rem 1rem;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #E492F5;
  border: 2px solid #E492F5;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;
  line-height: 30px;
  position: static;
  margin-bottom: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  align-self: center;
}


.index-search-bar {
  width: 300px;
  height: 30px;
  padding: 0.75rem 1rem;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #E492F5;
  border: 2px solid #E492F5;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;
  line-height: 30px;
  transition: border-color 0.3s, box-shadow 0.3s;
}



.index-search-bar::placeholder {
  color: #E492F5;
  opacity: 0.6;
}


.searchBarWrapper {
  display: inline-block;
}

.header-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-side {
  display: flex;
  align-items: center;
}

.center-side {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.right-side {
  display: flex;
  align-items: center;
}



.logo-container {
  flex: 1;
  text-align: left;
}


.inspiration-text {
  font-weight: 300;
}


h4 {
  font-size: 1.2rem;
}


.breakdown-link {
  text-decoration: underline;
}

.breakdown-link:hover {
  color: #0E0325 !important;
  background-color: #E492F5;
  text-decoration: none;
}


.videos-link {
  color: #EFB4FB;
  text-decoration: underline;
}

.videos-link:hover {
  color: #0E0325 !important;
  background-color: #E492F5;
  text-decoration: none;
}



.add-video-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E492F5;
  border: none;
  border-radius: 5px;
  color: #0D0325;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
}


.add-video-button:hover {
  color: white;
  background-color: #BB3FD4;
}


.video-count-text {
  text-align: center;
}


.video-row {
  padding: 2rem;
  overflow-y: scroll;
  max-height: calc(100vh - 60px);
  position: relative;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.video-row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.video-row {
  scrollbar-width: none;
}



.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}


.related-videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  margin-top: 50px;
}


/* Scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.video-container::-webkit-scrollbar {
  width: 10px;
}


.video-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}


.video-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}


/* Scrollbar for Firefox */
.video-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

@media (max-width: 1150px) {
  .popup-content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .left-side,
  .center-side,
  .right-side {
    width: 100%;
    text-align: center;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .search-container {
    position: static;
    margin-top: 0;
    order: 2;
    margin-bottom: 10px;
    width: 100%;
  }

  #search-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .index-search-bar {
    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
  }

  .searchBarWrapper {
    width: 100%;
  }

  .add-video-button {
    position: static;
    transform: translateY(0);
    margin-top: 0;
    order: 3;
    display: none;
  }

  #logo-link {
    display: none;
  }

  .home-content .searchBar {
    width: 100%;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .related-video-wrapper {
    width: calc(50% - 10px);
  }
}





.video-container img {
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}


.video-container a {
    display: inline-block;
}


.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
}


.video-thumbnail:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.new-label {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #E492F5;
  color: #0E0325;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.75rem;
  font-weight: bold;
  display: block;
}




.video-thumbnail.show-label .new-label {
  display: block;
}

.related-video-wrapper {
  width: calc(24% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.related-video-thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}




.search-container {
  flex: 1;
  text-align: center;
}

.button-container {
  flex: 1;
  text-align: right;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#homeSearchBar {
  width: 200%;
  max-width: 400px;
  margin: 0 auto;
  height: 30px;
  padding: 0.75rem 1rem;
  font-size: 16px;
  background-color: rgba(14, 3, 37, 0.5);
  color: #E492F5;
  border: 2px solid #E492F5;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;
  line-height: 30px;
  transition: border-color 0.3s, box-shadow 0.3s;
  align-self: center;
}



.searchBar:focus {
  border-color: #C267F0;
  box-shadow: 0 0 8px rgba(194, 103, 240, 0.5);
}


::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #E492F5;
  opacity: 0.6;
}



.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}


.video-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}


.video-popup-wrapper {
  position: relative;
  border-radius: 0px;
  overflow: hidden;

  /* Add these lines to hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}


.video-popup-wrapper::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
}


.video-popup-video {
  border: none;
}


.video-popup::-webkit-scrollbar {
  width: 10px;
}


.video-popup::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}


.video-popup::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.breakdown-link:visited {
  color: #E492F5;
}


.popup-content {
  width: 700px;
  max-width: 100%;
  overflow-y: auto;
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(228, 146, 245, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.video-container.popup-video-container {
  width: calc(100% - 2rem);
  display: flex;
  flex-wrap: wrap;
}


.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-content::-webkit-scrollbar {
  width: 10px;
}


.popup-content::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}


.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}


.popup-content {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}


::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}


::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}


:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}


:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #0E0325;
  color: #E492F5;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  z-index: 10000;
}


.add-video-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


a[href="https://www.buymeacoffee.com/eliaswillnat"] {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}




#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh));
  z-index: -1;
}

.about-text {
  text-align: left;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.scrollable-content {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 8rem;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.about-text {
  padding-bottom: 10rem;
}